:root {
    --background-color: #eeeff0;
}

@font-face {
    font-family: 'Boxing-Regular';
    src: url('../../public/fonts/Boxing-Regular.otf');
}

@font-face {
    font-family: 'Excon-Bold';
    src: url('../../public/fonts/Excon-Bold.otf');
}

@font-face {
    font-family: 'Excon-Medium';
    src: url('../../public/fonts/Excon-Medium.otf');
}

@font-face {
    font-family: 'Excon-Regular';
    src: url('../../public/fonts/Excon-Regular.otf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
}
